/*
 * Common styles
 * Did not add reset as I wanted to keep things normalized
 */

* {
    box-sizing: border-box;
    font-family: $fontFamily;
}

HTML, BODY {
  font-family: $fontFamily;
  background-color: $appBgColor;
  height: 100%;
  margin: $zeroUnit;
  padding: $zeroUnit;
}

HEADER {
  text-align: center;
  margin-top: $baseUnit;
}

FOOTER {
  position: relative;
  clear: both;
  z-index: 1;
  height: $baseUnit;
}

SECTION.calendar-container {
  margin: $zeroUnit $baseUnit * 10 $zeroUnit $baseUnit * 10;
}

.tile-color-1 {
  background-color: $titleColor1;
  border-color: $titleColor1 !important;
}

.tile-color-2 {
  background-color: $titleColor2;
  border-color: $titleColor2 !important;
}

.tile-color-3 {
  background-color: $titleColor3;
  border-color: $titleColor3 !important;
}

.tile-color-4 {
  background-color: $titleColor4;
  border-color: $titleColor4 !important;
}

.tile-color-5 {
  background-color: $titleColor5;
  border-color: $titleColor5 !important;
}

.tile-color-6 {
  background-color: $titleColor6;
  border-color: $titleColor6 !important;
}

.tile-color-7 {
  background-color: $titleColor7;
  border-color: $titleColor7 !important;
}
