/*
 * Common styles
 */

* {
    box-sizing: border-box;
    font-family: $fontFamily;
}

BODY {
  font-family: $fontFamily;
  background-color: $appBgColor;
  height: 100%;
  margin: $zeroUnit;
  padding: $zeroUnit;
}

HEADER {
  text-align: center;
  margin-top: $baseUnit;
}

FOOTER {
  position: relative;
  clear: both;
  z-index: 1;
  height: $baseUnit;
}

SECTION.calendar-container {
  margin: $zeroUnit $baseUnit * 10 $zeroUnit $baseUnit * 10;
}

.tile-color-1 {
  background-color: #555d7b;
  border-color: #555d7b !important;
}

.tile-color-2 {
  background-color: #9fd400;
  border-color: #9fd400 !important;
}

.tile-color-3 {
  background-color: #c97d99;
  border-color: #c97d99 !important;
}

.tile-color-4 {
  background-color: #79cae5;
  border-color: #79cae5 !important;
}

.tile-color-5 {
  background-color: #e8492a;
  border-color: #e8492a !important;
}

.tile-color-6 {
  background-color: #0055d0;
  border-color: #0055d0 !important;
}

.tile-color-7 {
  background-color: #ff1baa;
  border-color: #ff1baa !important;
}
