/*
 * Styling for fluid box and it's components - The title, tiles and body of the calendar day view boxes.
 */

SECTION.calendar-days {
    .fluid-box {
      width: 182px;
      display: inline-block;
      min-height: $baseUnit + 10.2;
      border: 1px $fluidBoxBorderStyle;
      border-top-right-radius: $baseUnit - 0.3;
      border-top-left-radius: $baseUnit - 0.3;
      border-top-color: $fluidBoxTopBorderColor;
      border-left-color: $fluidBoxGenBorderColor;
      border-right-color: $fluidBoxGenBorderColor;
      border-bottom-color: $fluidBoxGenBorderColor;
      margin: $baseUnit - 0.7;

      .fluid-box-header {
        padding: $baseUnit - 0.7;
        background-color: $fluidBoxTopBorderColor;
        text-align: right;
        border-bottom: 1px $fluidBoxBorderStyle $fluidBoxTopBorderColor;
        border-top-right-radius: $baseUnit - 0.6;
        border-top-left-radius: $baseUnit - 0.6;
        color: $fluidBoxHeaderColor;

        SPAN {
          font-size: $baseUnit - 0.15;
        }
      }

      .fluid-box-body {        
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-justify-content: center;
        justify-content: flex-start;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-content: stretch;
        align-content: stretch;
        height: 178px;
        float: left;
        width: 100%;

         .fluid-box-body-tiles {
            height: 60px;
            width: 60px;
            border: 1px $fluidBoxBorderStyle black;
            padding: $baseUnit - 0.75;
            display: table;
            text-align: center;

            SPAN {
              display: table-cell;
              vertical-align: middle;
            }
         }

         SPAN.no-birthday {
           font-size: $baseUnit * 5;
           margin: $zeroUnit $zeroUnit $zeroUnit $baseUnit * 3;
           float: left;
         }
      }
    }

    .fluid-box:after {
      content: "";
      display: block;
    }
}
