/*
 * Application level SASS file, compiles to become app.css
 */
/*
 * SASS variables
 */
/*
 * Common styles
 * Did not add reset as I wanted to keep things normalized
 */
* {
  box-sizing: border-box;
  font-family: "Lato", serif; }

HTML, BODY {
  font-family: "Lato", serif;
  background-color: #EAF0F2;
  height: 100%;
  margin: 0;
  padding: 0; }

HEADER {
  text-align: center;
  margin-top: 1rem; }

FOOTER {
  position: relative;
  clear: both;
  z-index: 1;
  height: 1rem; }

SECTION.calendar-container {
  margin: 0 10rem 0 10rem; }

.tile-color-1 {
  background-color: #555D7B;
  border-color: #555D7B !important; }

.tile-color-2 {
  background-color: #9FD400;
  border-color: #9FD400 !important; }

.tile-color-3 {
  background-color: #C97D99;
  border-color: #C97D99 !important; }

.tile-color-4 {
  background-color: #79CAE5;
  border-color: #79CAE5 !important; }

.tile-color-5 {
  background-color: #E8492A;
  border-color: #E8492A !important; }

.tile-color-6 {
  background-color: #0055D0;
  border-color: #0055D0 !important; }

.tile-color-7 {
  background-color: #FF1BAA;
  border-color: #FF1BAA !important; }

/*
 * Styling for fluid box and it's components - The title, tiles and body of the calendar day view boxes.
 */
SECTION.calendar-days .fluid-box {
  width: 11.2rem;
  display: inline-block;
  min-height: 11.2rem;
  border: 1px solid;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-top-color: #AB9EEE;
  border-left-color: #D3D3D3;
  border-right-color: #D3D3D3;
  border-bottom-color: #D3D3D3;
  margin: 0.3rem; }
  SECTION.calendar-days .fluid-box .fluid-box-header {
    padding: 0.3rem;
    background-color: #AB9EEE;
    text-align: right;
    border-bottom: 1px solid #AB9EEE;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    color: #D3D3D3; }
    SECTION.calendar-days .fluid-box .fluid-box-header SPAN {
      font-size: 0.85rem; }
  SECTION.calendar-days .fluid-box .fluid-box-body {
    padding: 0.5rem; }
    SECTION.calendar-days .fluid-box .fluid-box-body .fluid-box-body-tiles {
      height: 2rem;
      width: 2rem;
      border: 1px solid black;
      padding: 0.25rem;
      float: left;
      text-align: center; }
    SECTION.calendar-days .fluid-box .fluid-box-body SPAN.no-birthday {
      font-size: 5rem;
      margin: 0 0 0 3rem;
      float: left; }
SECTION.calendar-days .fluid-box:after {
  content: "";
  display: block; }

/*
 * Styling for calendar operations' section - The textarea, inputbox and button
 */
SECTION.calendar-operations DIV.calendar-live-data {
  float: left;
  padding-right: 3rem; }
  SECTION.calendar-operations DIV.calendar-live-data TEXTAREA {
    width: 35rem;
    min-height: 20rem;
    max-width: 69rem;
    outline: none;
    border: 1px solid #F0F0F0; }
SECTION.calendar-operations DIV.calendar-data-op {
  margin-top: 2.5rem;
  margin-bottom: 13rem;
  /*
   * Since there was only button hence keeping it's styles here.
   * If we had multiple buttons then would have kept it in separate _button.scss partial.
   */ }
  SECTION.calendar-operations DIV.calendar-data-op INPUT[type=number] {
    border: 1px solid #CCC;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    outline: 0;
    -webkit-appearance: none;
    height: 2.3rem;
    width: 11rem;
    margin-top: 0.5rem; }
  SECTION.calendar-operations DIV.calendar-data-op BUTTON {
    border: none;
    color: #FFF;
    padding: 0.9375rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 2rem 0;
    cursor: pointer; }
  SECTION.calendar-operations DIV.calendar-data-op BUTTON.blue {
    background-color: #0186EF; }

/*
 * Mobile specific fit & finish overrides supporting Nexus 5 & 6, iPhone 6 and 6 plus.
 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  H1 {
    font-size: 2rem;
    font-weight: normal; }

  H2 {
    font-size: 1rem; }

  SECTION.calendar-container {
    margin-left: 0;
    margin-right: 0;
    text-align: center; }

  SECTION.calendar-operations {
    background-color: #EAF0F2; }

  SECTION.calendar-days .fluid-box {
    margin: 0.3rem; }

  SECTION.calendar-operations DIV.calendar-live-data {
    float: none;
    padding-right: 0;
    margin-top: 1rem;
    background-color: #EAF0F2; }

  SECTION.calendar-operations DIV.calendar-live-data TEXTAREA {
    float: none;
    width: 21rem;
    resize: none; }

  SECTION.calendar-operations DIV.calendar-data-op {
    float: none;
    margin-top: 1rem; }

  SECTION.calendar-days .fluid-box {
    width: 10rem; } }

/*# sourceMappingURL=app.css.map */
